!!!
%html
  %head
    %title Autorennen
    %meta{charset: "utf-8"}/
    %link{:href => "/stylesheets/reset.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/bootstrap/bootstrap.min.css", :rel => "stylesheet"}/

    %link{:href => "/stylesheets/application.css", :rel => "stylesheet"}/
    %link{:href => "/stylesheets/tracks.css", :rel => "stylesheet"}/

    %script{:src => "/javascript/jquery-1.10.2.min.js"}
    %script{:src => "/javascript/bootstrap/bootstrap.min.js"}
    %script{:src => "/javascript/application.js"}

  %body
    #wrapper
      #header
        #navigation.navbar.navbar-static-top{:role => "navigation"}
          .container
            %ul.nav.navbar-nav
              %li
                %a{:href => "/races", :title => "races"} races
              %li.dropdown
                - tracks = Track.all
                %a.dropdown-toggle{:href => "#", :data => {"toggle" => "dropdown"}}
                  racetracks
                  %b.caret
                %ul.dropdown-menu
                  - tracks.each do |track|
                    %li
                      %a{:href => "/tracks/#{track.id}/edit", :title => "#{track}"}
                        = track
                  - if tracks.any?
                    %li.divider
                  %li
                    %a{:href => "/tracks/new", :title => "create new racetrack"}
                      %span create new racetrack
            %ul.nav.navbar-nav.pull-right
              - if current_user
                %li
                  %a{:href => "/logout", :title => "logout"} logout
                %li
                  %a{:href => "/users/#{current_user.id}", :title => "#{current_user}"}= current_user
              - else
                %li.dropdown
                  %a#login.dropdown-toggle{:href => "#", :data => {"toggle" => "dropdown"}}
                    login
                  %ul.login-form.dropdown-menu
                    %form{:action => "/login", :method => "post"}
                      %input{:type => "hidden", :name => "location", :value => request.path_info}
                      %li
                        %input#username{:type => "text", :name => "username", :placeholder => "username"}
                      %li
                        %input#password{:type => "password", :name => "password", :placeholder => "password"}
                      %li.pull-right
                        %input.btn.btn-sm.btn-success{:type => "submit", :value => "login"}
      #notifications
        - flash.each do |key, message|
          %div{:class => "notification #{flash_class(key)} alert-dismissable"}
            %button.close{:type => "button", :data => {"dismiss" => "alert"}} &times;
            = message
      #content
        =yield

      #footer

