%script{:src => "/javascript/race.js"}
%script{:src => "/javascript/race_form.js"}
%script{:src => "/javascript/race_menu_manager.js"}
%script{:src => "/javascript/move_menu.js"}
%script{:src => "/javascript/track.js"}
%script{:src => "/javascript/tile.js"}
%script{:src => "/javascript/pickup.js"}
#race-container
  - arsenal = @race.arsenal_for(current_user)

  .container-fluid
    .row
      .col-md-10
        %h3
          = @race
          %small
            = "Turn: #{@race.turn}"
      .col-md-2
        %form#delete-race-form.form-inline.pull-right{:action => "/races/#{@race.id}/delete", :method => "post"}
          %input.btn.btn-danger{:type => "submit", :value => "delete race"}

  %table#players
    %tr
      - @race.users.each do |player|
        %td
          %table.table
            %thead
              %tr
                %th{:colspan => 2}
                  .color-label.inline{:style => "background-color: #{player.color}"}
                    = player.id
                  = player
            - ["booster", "rocket", "mine"].each do |pickup|
              %tr
                %td
                  %img{:src => "/images/#{pickup}.png", :width => "20", :height => "20"}
                %td
                  = @race.arsenal_for(player)[pickup]


  %form#race-form{:action => "/races/#{@race.id}/update"}
    %input#race-id{:type => "hidden", :value => @race.id}
    #race-menu.container-fluid
      .row
        .col-md-2
          %h4
            .color-label.inline{:style => "background-color: #{@race.active_player.color}"}
            = @race.active_player
        - if can_play?(current_user)
          .col-md-8
            .btn-toolbar
              .btn-group{:data => {"toggle" => "buttons"}}
                %label.btn.btn-default.active
                  move
                  %input#move{:type => "radio", :name => "move", :checked => "checked"}
                - ["booster", "rocket", "mine"].each do |pickup|
                  %label.btn.btn-default
                    %image{:id => "pickup-#{pickup}", :src => "/images/#{pickup}.png", :width => "15", :height => "15"}
                    = ": #{arsenal[pickup]}"
                    %input{:id => pickup, :type => "radio", :name => pickup}
          .col-md-2
            .btn-group.pull-right
              %input#save-move.btn.btn-success{:type => "submit", :value => "save move"}

  .center-block
    %canvas#track{:data => {"id" => @race.track.id}}
